[access]
	inheritFrom = Public-Projects

[access "refs/heads/master"]
	push = group mdb/copybara-piper
	push = group nsylvain
	push = block group Anonymous Users
	push = block group Registered Users
	forgeAuthor = group mdb/copybara-piper

[access "refs/for/refs/*"]
	push = block group Anonymous Users
	push = block group Registered Users
