[access]
	inheritFrom = Public-Projects

[access "refs/heads/master"]
	push = group mdb/copybara-git-writers
	push = group nsylvain
	push = block group Anonymous Users
	push = block group Registered Users
	forgeAuthor = group mdb/copybara-git-writers
	forgeAuthor = group nsylvain

[access "refs/heads/main"]
	push = group mdb/copybara-git-writers
	push = group nsylvain
	push = block group Anonymous Users
	push = block group Registered Users
	forgeAuthor = group mdb/copybara-git-writers
	forgeAuthor = group nsylvain

[access "refs/for/refs/*"]
	push = block group Anonymous Users
	push = block group Registered Users
[submit]
	action = inherit
[access "refs/heads/releases/*"]
	forgeAuthor = group mdb/copybara-git-writers
	push = group g
	push = group mdb/copybara-git-writers
	push = block group Anonymous Users
	push = block group Registered Users
